.price-card-container {
    font-weight: 500;
    min-width: 35%;
    box-shadow:1px 3px 4px 0px var(--dark);
    height: fit-content;
    padding: 10px;
}

.price-card-heading {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark-primary);
    text-align: center;
    border-bottom: 2px solid var(--blueviolet);
    padding:0px 0 10px 0;
}

.price-card-container p {
    margin: 10px 0;
}


.price-card_product-info {
    border-bottom: 1px solid var(--dark);
}

.price-card-container button {
    border: 2px solid var(--blueviolet);
    color: var(--blueviolet);
    background-color: var(--white);
    margin: 0;
    font-family: sans-serif;
}

.price-card-total-price {
    border-top: 2px solid var(--blueviolet);
    padding: 10px 0;
    font-weight: 600;
    font-size: 1.3rem;
    font-family: sans-serif;
}