.cart-container {
    /* border: 2px solid var(--dark); */
    padding: 5px 10px;
    color: var(--transparent-black);
    border-radius: 3px;
    box-shadow: 2px 3px 4px 1px var(--dark);
}

.product-cart-image {
    margin: 5px;
    width: 16rem;
    height: 13rem;
    border-radius: 4px;
}

.product-features-list li {
    margin: 0 0 2px 0;
}

.product-features-list li:nth-child(1) {
    font-size: 1.5rem;
    color: var(--dark);
    font-weight: 600;
}

.product-features-list li:nth-child(5) button {
    font-size: 20px;
    font-weight: 600;
    margin: 0 5px;
    box-shadow: 1px 1px 3px  var(--black);
    padding: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: var(--white);
}

.product-features-list li:nth-child(6) button {
    font-size: 20px;
    font-weight: 600;
    background-color: var(--dark);
    color: var(--white);
    font-family: sans-serif;
    width: 18rem;
    margin: 8px 0 4px 0;
}

.product-features-list li:nth-child(7) button {
    font-size: 20px;
    font-weight: 600;
    color: var(--blueviolet);
    font-family: sans-serif;
    border: 1px solid var(--blueviolet);
    width: 18rem;
}
