.landing-page-BgImg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 100vh;
    min-width: 100%;
}

.landing-page-container {
    position: relative;
}

.landing-page-banner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    min-width: 30rem;
    background-color: var(--transparent-black);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.banner-container {
    text-align: center;
    color: var(--white);
}

.banner-container h3 {
    color: var(--primary);
    font-size: 2rem;
    text-shadow: 2px 2px 3px var(--white);
    letter-spacing: 2px;
}

.banner-container span {
    color: var(--primary-bg-color);
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.landing-page-button-container button:nth-child(1) {
    background-color: var(--red);
    color: var(--primary-bg-color);
    width: 7rem;
    font-family: monospace;
    margin-right: 10px;
    transition: opacity 0.15s;
}

.landing-page-button-container button:nth-child(1):hover {
    background-color: var(--light-red);
}